.vs/NorthWind/v15/Server/sqlite3/storage.ide-wal
.vs/NorthWind/v15/Server/sqlite3/storage.ide-shm
.vs/NorthWind/v15/Server/sqlite3/storage.ide
.vs/NorthWind/DesignTimeBuild/.dtbcache
Test/obj/
NorthWind/obj/
Test/bin/
NorthWindConsole/obj/
