@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Tiragnaia str., 150<br />
    Minsk, Belarus 220040<br />
    <abbr title="Phone">Phone:</abbr>
    +375 29 187 13 63
</address>

<address>
    <strong>Developing by:</strong> <a href="mailto:Andrii_Prykhodko@epam.com">Andrii_Prykhodko@epam.com</a><br />
    
</address>
