@{
    ViewData["Title"] = "Welcome page";
}

<h1>Welcome!</h1>
<h2>Categories and Products</h2>
<div>
    <a asp-controller="Categories">Categories</a>
</div>
<div>
    <a asp-controller="Products">Products</a>
</div>
<p></p>
<p>Hello from our NorthWind company!</p>